/*
Color Palette:
#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orange
*/

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Reset */

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    background-color: #CCAF9D;
}

main{
    background-color:#F7A26C;
    margin:3% 3% 0.5% 3%;
    border-radius:10px;
    padding:1.5%;
}

header{
    color:#5C3317;
    text-align:center;
    font-weight:bold;
    font-family:"Tangerine", cursive;
    padding-top: 2%;
    font-size: 4em;
}

header h1{
    color:#E76A1A;
}

.navImg{
    margin: 0 auto;
    background-color:#804720;
}

h2{
    font-family:'Briem Hand';
    font-size:2.2em;
    color:#5C3317;
}

h3{
    font-family:'Briem Hand';
    font-size:1.4em;
    margin: 1% 0% 1% 0%;
    color:#5C3317;
}

p{
    font-size:1.2em;
    font-family:'Noticia Text';
    color:#5C3317;
}

nav li{
    text-align:center;
    font-family:'Noticia Text';
    color:#5C3317;
    list-style:none;
}
a{
    text-decoration:none;
    color:#5C3317;
}

ol li{
    font-size:1.2em;
    font-family:'Noticia Text';
    margin: 0.5% 0.5% 0.5% 1%;
}

.form-container {
    background-color:#fff;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width:90%;
}

form label{
    margin-top:10px;
    display:block;
    font-weight:bold;
}

form input{
    width:100%;
    padding:8px;
    margin-top:5px;
    margin-bottom:20px;
    border-radius: 4px;
    border:1px solid #ccc;
    box-sizing:border-box; /* Includes padding and border in the width */
}
.table-container{

}

table{
    width:100%;
    border-collapse: collapse;
}

table, th, td{
   /*border:1px solid #ccc; Light gray border */
}

th, td{
    text-align:left;
    padding:8px; /*Padding inside the cells */
}

th{
    background-color: #f4f4f4; /* Light gray background */
}

caption {
    padding:10px;
    font-size:1.2em;
    font-weight:bold;
}

footer nav{
    display:none;
}

main img{
    float:right;
    margin:1%;
}